.profile-link {
  text-decoration: none;
}

.profile-link__button {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 13px;
  line-height: 1;
  font-weight: normal;
  padding: 3px 3px 3px 11px;
}

.profile-link__icon {
  padding: 0;
  margin: 0;
  margin-left: 7px;
  background: url(../../images/profile-icon-min.svg) no-repeat;
  background-position: center;
  background-color: #313131;
  border-radius: 50%;
  height: 26px;
  width: 26px;
}