.movie-card {
  width: 100%;
  height: 100%;
  background-color: #222222;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.movie-card__header {
  padding: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.movie-card__title {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 500;
}

.movie-card__duration {
  margin: 0;
  padding: 0;
  color: #8B8B8B;
  font-size: 13px;
  line-height: 1.4;
  font-weight: normal;
}

.movie-card__photo {
  object-fit: contain;
}

.movie-card__panel {
  padding: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.movie-card__save-btn {
  width: 100px;
  height: 29px;
  font-size: 12px;
  line-height: 1;
  font-weight: normal;
}

@media (max-width: 540px) {
  .movie-card__title {
    font-size: 12px;
  }

  .movie-card__duration {
    font-size: 10px;
  }
}