.about {
  
  background-color: #202020;
}

.about__content {
  max-width: 1140px;
  box-sizing: border-box;
  margin: auto;
  padding: 110px 70px 100px;
}

.about__title {
  margin-bottom: 70px;
}

.about__article-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  margin-bottom: 110px;
}

.about__article-title {
  margin: 0 0 26px;
  padding: 0;
  color: #FFF;
  font-size: 20px;
  line-height: 1.2;
  font-weight: normal;
}

.about__article-description {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
}

.about__timing {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 4fr;
  row-gap: 4px;
}

.about__timing-block {
  margin: 0;
  padding: 10px 0;
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
}

.about__backend-timing {
  background-color: #3DDC84;
  color: #000;
}

.about__frontend-timing {
  background-color: #303030;
  color: #FFF;
}

.about__timing-title {
  color: #8B8B8B;
}

@media (max-width: 768px) {
  .about__content {
    padding: 90px 50px 0;
  }

  .about__article-list {
    column-gap: 30px;
  }

  .about__article-title {
    margin: 0 0 22px;
    font-size: 20px;
  }

  .about__article-description {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .about__content {
    padding: 70px 18px 0;
  }

  .about__article-list {
    grid-template-columns: 1fr;
    row-gap: 56px;
  }

  .about__article-title {
    margin: 0 0 16px;
    font-size: 18px;
  }

  .about__article-description {
    font-size: 11px;
  }
}
