.movies {
  max-width: 1280px;
  box-sizing: border-box;
  padding: 0 70px;
  margin: auto;
}

.movies__search-form {
  margin-bottom: 70px;
}

.movies__card-list {
  margin-bottom: 50px;
}

.movies__more-btn {
  margin-bottom: 80px;
  width: 100%;
  height: 36px;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 500;
  color: #FFF;
}

@media (max-width: 768px) {
  .movies {
    padding: 0 30px;
  }
}

@media (max-width: 540px) {
  .movies {
    padding: 0 10px;
  }

  .movies__search-form {
    margin-bottom: 40px;
  }
}