.header {
  max-width: 1140px;
  margin: auto;
  height: 74px;
  box-sizing: border-box;
  padding: 0 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__sign-button {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.3;
  margin-right: 30px;
}

.header__sign-button:last-child {
  margin-right: 0;
}

.header__signin {
  padding: 8px 20px;
}

.header__profile-button {
  position: relative;
  font-size: 13px;
  line-height: 1;
  font-weight: normal;
  padding-right: 33px;
}

.header__profile-button::after {
  content: "";
  position: absolute;
  top: -50%;
  right: 0;
  background: url(../../images/profile-icon-min.svg) no-repeat;
  background-position: center;
  background-color: #313131;
  border-radius: 50%;
  height: 26px;
  width: 26px;
}

.header__item {
  margin-right: 16px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  text-decoration: none;
  color: #FFF;
  font-size: 13px;
  line-height: 1.4;
  font-weight: 400;
}

.header__link_active {
  font-weight: bold;
}

.header__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__menu-btn {
  display: none;
}

.header__menu-icon {
  cursor: pointer;
  display: none;
}

/* burger menu */
.header__navicon {
  background: #FFF;
  display: block;
  height: 3px;
  position: relative;
  /* transition: background .2s ease-out; */
  width: 28px;
}

.header__navicon:before,
.header__navicon:after {
  background: #FFF;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  /* transition: all .2s ease-out; */
  width: 100%;
}

.header__navicon:before {
  top: 7px;
}

.header__navicon:after {
  top: -7px;
}


@media (max-width: 768px) {

}