
.sidebar {
  display: none;
}

.sidebar__overlay {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  transition: opacity .2s ease-out;
  background: rgba(0, 0, 0, 0.3);
}

.sidebar__overlay_hidden {
  opacity: 0;
  visibility: hidden;
}

.sidebar__content {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  height: 100%;
  width: 520px;
  transition: right .4s ease-out;
  background-color:#202020;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
}

.sidebar__content_hidden {
  right: -520px;
}

.sidebar__navigation {
  margin: 160px 0 60px;
  display: flex;
  flex-direction: column;
}

.sidebar__item {
  margin-right: 0;
  margin-bottom: 28px;
}

.sidebar__item:last-child {
  margin-bottom: 0;
}

.sidebar__link {
  color: #FFF;
  text-decoration: none;
  font-size: 18px;
}

.sidebar__link_active {
  font-weight: normal;
  padding-bottom: 4px;
  border-bottom: 2px solid #FFF;
}

.sidebar__panel {
  text-align: center;
  margin-bottom: 90px;
}

.sidebar__burger-button {
  position: relative;
  z-index: 300;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 7px 0;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: 0;
}

/* burger menu */
.sidebar__burger-icon {
  background: #FFF;
  display: block;
  height: 3px;
  position: relative;
  width: 28px;
}

.sidebar__burger-icon:before,
.sidebar__burger-icon:after {
  background: #FFF;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.sidebar__burger-icon:before {
  top: -7px;
}

.sidebar__burger-icon:after {
  top: 7px;
}

.sidebar__burger-icon_close {
  height: 0;
}

.sidebar__burger-icon_close::before {
  top: 0px;
  height: 3px;
  transform: rotate(45deg);
}
.sidebar__burger-icon_close::after {
  top: 0px;
  height: 3px;
  transform: rotate(-45deg);
}

@media (max-width: 768px) {
  .sidebar {
    display: block;
  }
}


@media (max-width: 540px) {
  .sidebar__content {
    width: 100%;
  }
}