.register {
  min-height: 100vh;
  background-color: inherit;
}

.register__content {
  padding: 70px 0;
  max-width: 396px;
  margin: auto;
}

.register__logo {
  margin-bottom: 40px;
}

.register__welcome-text {
  margin: 0;
  padding: 0 0 40px;
  color: #FFF;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
}

.register__sign-in {
  margin: 16px 0;
  padding: 0;
  text-align: center;
  color: #8B8B8B;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
}

.register__login-link {
  text-decoration: none;
  color: #4285F4;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
}

.register__login-link:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .register__content {
    padding-top: 230px;
  }
}

@media (max-width: 540px) {
  .register__content {
    max-width: none;
    padding: 56px 30px;
  }

  .register__logo {
    display: block;
    margin: 0 auto 50px;
  }

  .register__welcome-text {
    text-align: center;
    margin-bottom: 80px;
  }

  .register__sign-in {
    font-size: 12px;
  }

  .register__login-link {
    font-size: 12px;
  }
}