.techs {
  background-color: #272727;
}

.techs__content {
  max-width: 1140px;
  box-sizing: border-box;
  margin: auto;
  padding: 100px 70px 100px;
}

.techs__title {
  margin-bottom: 90px;
}

.techs__subtitle {
  max-width: 600px;
  margin: auto;
  padding: 0;
  color: #FFF;
  font-size: 50px;
  line-height: 1.16;
  font-weight: normal;
  text-align: center;
  margin-bottom: 26px;
}

.techs__description {
  margin: auto;
  padding: 0;
  max-width: 460px;
  color: #FFF;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 100px;
}

.techs__item {
  margin-right: 10px;
  padding: 21px 26px;
  background-color: #303030;
  border-radius: 10px;
  color: #FFF;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
}

.techs__item:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .techs__content {
    padding: 90px 50px 0;
  }
  .techs__description {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .techs__content {
    padding: 70px 18px 0;
  }

  .techs__subtitle {
    font-size: 30px;
  }

  .techs__description {
    font-size: 11px;
  }
}
