.not-found {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found__text {
  margin: 0;
  padding: 0;
  font-size: 140px;
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
  color: #FFF;
}

.not-found__description {
  margin: 0 0 184px;
  padding: 0;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
  color: #FFF;
}

.not-found__back {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  color: #4285F4;
}

@media (max-width: 540px) {
  .not-found__text {
    font-size: 80px;
  }

  .not-found__description {
    font-size: 12px;
  }

  .not-found__back {
    font-size: 12px;
  }
}